:root {
  --primary-color: #717aef;

  --gap: 5px;
}

body {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--primary-color);
}

.container {
  display: grid;
  gap: var(--gap);

  width: 500px;
  height: 200px;

  padding: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.question-container {
  display: grid;
  place-items: center;

  position: relative;
}

.question-container__question-indicator {
  position: absolute;

  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);

  background-color: var(--primary-color);
  color: white;

  border-radius: 50px;

  padding: 10px 20px;
}

.question-container__question {
  padding-top: 20px;
}

.answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: var(--gap);
}

.answers-container__answers,
.question-container {
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}
